<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <div class="col-lg-8">
      <h1>Hello, world!</h1>

      <p>This is a template for a simple marketing or informational website. It includes a large callout called a
        jumbotron and three supporting pieces of content. Use it as a starting point to create something more
        unique.</p>
    </div>
    <div class="col-lg-4">
      <%= render 'devise/registrations/registration' %>
    </div>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2 class="text-center">MANAGE THEM</h2>

      <p class="text-justify">Manage your bonsai with our easy and intuitive management system.
      Spend more time with your plants and less to maintain your catalog!</p>
    </div>
    <div class="col-md-4">
      <h2 class="text-center">SHOW OFF</h2>

      <p class="text-justify">Show your friend your bonsai with our automatic page creation! Keep them informed
      of all your operations to make your bonsai unique!</p>
    </div>
    <div class="col-md-4">
      <h2 class="text-center">BE PROUD</h2>

      <p class="text-justify">Our mission is to help you to manage and show to whoever you want your hard work.
      Yours is to be proud of your creations!</p>
    </div>
  </div>


</div> <!-- /container -->