<!DOCTYPE html>
<html>
<head>
  <title>BonsaiHeart</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
  <%= stylesheet_link_tag 'emberapp', :media => 'all' %>
  <%= csrf_meta_tags %>
</head>
<body class="emberapp">
<%= javascript_include_tag 'application' %>
</body>
</html>
