<!DOCTYPE html>
<html>
<head>
  <title>BonsaiHeart</title>
  <%= stylesheet_link_tag 'application', :media => 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= javascript_include_tag 'bonsai_heart' %>
</body>
</html>
