<!DOCTYPE html>
<html>
<head>
  <title>Rikku Web</title>
  <%= stylesheet_link_tag 'application', :media => 'all' %>
  <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
    <%= javascript_include_tag 'application' %>
</body>
</html>
