<div class="navbar navbar-inverse home-navbar" role="navigation">
  <div class="container">
      <div class="navbar-left home-navbar-left">
        <a class="navbar-brand home-navbar-brand" href="/">BonsaiHeart</a>
      </div>
      <div class="navbar-right home-navbar-right">
        <%= link_to new_user_session_path do %>
            <button class='btn btn-success'>Sign in</button>
        <% end %>
      </div>
    <!--/.navbar-collapse -->
  </div>
</div>